# Compiled class file
*.class

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Maven
target/
*.jar
*.war
*.ear
*.zip

# Logs
*.log

# Others
.DS_Store
Thumbs.db
